#left {
	--apeear-delay: .13s;
	--appear-timing: .3s;
	--appear-transition: opacity var(--appear-timing) ease-in-out var(--apeear-delay);

	display: grid;
	grid-template-rows: max-content minmax(0, 1fr) max-content;
	padding-top: var(--initial-padding-top);
	max-height: calc(100svh - var(--initial-padding-top));
	z-index: 1;
}

@media (width <=1018px) {
	#left {
		background-color: white;
		width: 100%;
		position: fixed;
		transition: max-height var(--appear-timing) ease-in-out;
	}

	#left[menu-is-open="false"],
	#left:has(.menu-btn__btn:not(:checked)) {
		position: fixed;
		max-height: var(--left-section-span-height);
		overflow: hidden;
	}

	@supports not selector(:has(*)) {
		#left:not([menu-is-open]) {
			position: fixed;
			max-height: var(--left-section-span-height);
			overflow: hidden;
		}
	}
}

@media (width >= 1018px) {
	#change-lang {
		display: none;
	}
}

#logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo a {
	font-weight: 800;
	font-size: 30px;
	line-height: 38px;
	text-decoration: none;
}


@media (width >=1018px) {
	#logo .menu-btn {
		display: none;
	}
}

.left-nav {
	padding-top: 70px;
	display: grid;
	grid-template-rows: max-content minmax(0, 1fr);
	gap: 10px;
}

@media (width <=1018px) {
	.left-nav {
		transition: var(--appear-transition);
	}
}

.left-nav__title {
	margin: 0;
	padding: 0;
	font-size: var(--font-main-menu-heading-size);
	font-weight: var(--font-main-weight);
}


.left-nav__links-list::-webkit-scrollbar {
	display: none;
}

.left-nav__links-list {
	display: flex;
	flex-direction: column;
	gap: 18px;
	height: auto;
	overflow: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.left-nav__links-list li {
	margin: 0;
}

.left-nav__links-list li:first-child {
	margin-top: 13px;
}

.left-nav__links-list::after {
	content: '';
	display: block;
	min-height: 60px;
}

.left-nav__links-list li a {
	text-wrap: balance;
}

.left-nav__footer {
	box-sizing: border-box;
	padding: 35px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (width <=1018px) {
	.left-nav__footer {
		transition: var(--appear-transition);
		height: 90px;
		bottom: 0;
	}
}

@media (width <= 1018px) {
	#left[menu-is-open="false"] .left-nav,
	#left[menu-is-open="false"] .left-nav__footer,
	#left:has(.menu-btn__btn:not(:checked)) .left-nav__footer,
	#left:has(.menu-btn__btn:not(:checked)) .left-nav {
		visibility: hidden;
		opacity: 0;
	}

	#left[menu-is-open="true"] .left-nav,
	#left[menu-is-open="true"] .left-nav__footer,
	#left:has(.menu-btn__btn:checked) .left-nav__footer,
	#left:has(.menu-btn__btn:checked) .left-nav {
		opacity: 1;
	}
}

.left-nav__footer a {
	font-size: var(--font-second-menu-size);
	text-decoration: none;
}
