body {
	position: relative;
}

#settingsMenu {
	opacity: .7;
	position: fixed;
	bottom: 0;
	margin: auto 0 0 auto;
	background-color: black;
	color: white;
	z-index: 10;
}

#openButton,
#closeButton {
	padding: 0;
	margin: 0;
	font-size: 30px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 0 10px 10px 0;
	width: 30px;
	height: 40px;
}

#settingsMenu[open] + #openButton {
	display: none;
}

#openButton {
	opacity: .2;
	position: fixed;
	right: -30px;
	right: -25px;
	bottom: 30px;
	position: absolute;
	transform: rotate(180deg);
	z-index: 10;
}

@media (width <= 1018px) {
	#openButton {
		top: 80vh;
		right: 0;
	}
}

#openButton:hover, #openButton:focus {
	opacity: 1;
}

#closeButton {
	border-radius: 10px 0 0 10px;
}
