@import './modules/modules.css';

.shadow-wrapper,
.shadow-wrapper_no-top {
	display: flex;
	flex-direction: column;
	position: relative;
	height: auto;
	cursor: row-resize;
}

.shadow-wrapper_no-top::after,
.shadow-wrapper::before,
.shadow-wrapper::after {
	pointer-events: none;
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 114px;
}
.shadow-wrapper::before {
	z-index: 1;
	height: 38px;
	top: -10px;
	background: linear-gradient(
		to top,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0) 0.01%,
		#FFFFFF 100%
	);
}

.shadow-wrapper_no-top::after,
.shadow-wrapper::after {
	bottom: 0;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0) 0.01%,
		#FFFFFF 100%
	);
}
